<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opentext.poi.mapper.BaiduCityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.opentext.poi.entity.BaiduCity">
        <id column="BD_CITY_ID" property="bdCityId" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="SGM_CITY_ID" property="sgmCityId" />
        <result column="NAME" property="name" />
        <result column="CODE" property="code" />
        <result column="PARENT_CODE" property="parentCode" />
        <result column="STATUS" property="status" />
    </resultMap>

</mapper>
